<footer class="site-footer">
    <div class="footer-contact container">
        <h2>Get in Touch</h2>
        <p>Subscribe to the <a href="https://newsletter.pipedev.org/forms/nfrm_BzLMaLXv" target="_blank" rel="noopener noreferrer">TPC Newsletter</a> to get the latest updates</p>
        <div class="footer-contact-card">
            <div class="footer-contact-detail">
                <span class="footer-contact-label">Email</span>
                <span>info@thepipelineconference.com</span>
            </div>
            <div class="footer-contact-detail">
                <span class="footer-contact-label">Address</span>
                <span>PO Box 91512, Los Angeles, CA 90009</span>
            </div>
            {{ partial "social-links.html" (dict "size" "footer") }}
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; Copyright {{ now.Format "2006" }} The Pipeline Conference. All Rights Reserved.</p>
    </div>
</footer>
