<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="color-scheme" content="dark" />
<link rel="icon" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
{{/* Barlow + IBM Plex Mono are vendored locally in /static/fonts and declared in main.css. */}}
<link rel="preload" as="font" type="font/woff2" href="/fonts/barlow-700.woff2" crossorigin />
<link rel="preload" as="font" type="font/woff2" href="/fonts/barlow-400.woff2" crossorigin />
<link type="text/css" rel="stylesheet" href="/css/main.css" />
